{{ define "header"}}
    {{ partial "head.html" . }}
{{ end }}
{{ define "nav" }}
    {{ partial "szam5/nav.html" . }}
{{ end }}
{{ define "main" }}
    {{ partial "szam5/welcome.html" . }}
    {{ partial "szam5/features.html" . }}
    {{ partial "szam5/screenshots.html" . }}
    {{ partial "szam5/videos.html" . }}
    {{ partial "szam5/opinions.html" . }}
    {{.Content}}
    {{ partial "szam5/modals.html" . }}
    <a href="#welcome" uk-totop uk-scroll="offset: 40" class=""></a>
{{ end }}
{{ define "footer"}}
{{ partial "footer.html" . }}
{{ end }}