<div class="uk-container uk-margin-large-top">
    <div uk-grid class="uk-flex-center uk-grid-match uk-child-width-1-2@s">
        <div>
            <div class="uk-card uk-card-feature uk-card-small">
                <div class="uk-card-header">
                    <h3 class="uk-card-title">Мультиплатформенность</h3>
                </div>
                <div class="uk-card-body" uk-grid>
                    <div class="uk-width-auto">
                        <span uk-icon="icon: desktop; ratio: 3"></span>
                    </div>
                    <div class="uk-width-expand">
                        Скрипт sZam 5.x работает во всех версиях Adobe InDesign и Adobe InCopy, начиная с CS3, как для Windows, так и для macOS. Исключение составляет только версия Adobe InDesign/InCopy CS3 для macOS, что связано с ошибками реализации GREP в этой версии ПО Adobe.
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-feature uk-card-small">
                <div class="uk-card-header">
                    <h3 class="uk-card-title">Экономия времени</h3>
                </div>
                <div class="uk-card-body" uk-grid>
                    <div class="uk-width-auto">
                        <span uk-icon="icon: clock; ratio: 3"></span>
                    </div>
                    <div class="uk-width-expand">
                        Снижение нагрузки на корректоров и верстальщиков, так как приводит к необходимому виду знаки препинания и пробелы в публикации, позволяет предотвращать нежелательные переносы строк или слов.
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-feature uk-card-small">
                <div class="uk-card-header">
                    <h3 class="uk-card-title">Единая типографика</h3>
                </div>
                <div class="uk-card-body" uk-grid>
                    <div class="uk-width-auto">
                        <span uk-icon="icon: file-edit; ratio: 3"></span>
                    </div>
                    <div class="uk-width-expand">
                        Унификация применения знаков препинания, прежде всего тире и кавычек, а также пробелов в различных словосочетаниях, например, в сокращениях, инициалах и т.&nbsp;п.
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-feature uk-card-small">
                <div class="uk-card-header">
                    <h3 class="uk-card-title">Гибкость</h3>
                </div>
                <div class="uk-card-body" uk-grid>
                    <div class="uk-width-auto">
                        <span uk-icon="icon: settings; ratio: 3"></span>
                    </div>
                    <div class="uk-width-expand">
                        Собственные наборы поиска и замен с использованием регулярных выражений (правила), которые будут выполняться последовательно. При этом порядок выполнения правил пользователь может изменять по собственному усмотрению. В правилах предусмотрена возможность поиска и замены с учетом локального форматирования.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>