<div class="fade" id="szamInfo" tabindex="-1" role="dialog" aria-labelledby="szamInfoLabel" aria-hidden="true" uk-modal>
  <div class="uk-modal-dialog">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header">
        <h4 class="uk-modal-title" id="myModalLabel">Мои контакты</h4>
      </div>
      <div class="uk-modal-body">
        <h5>По вопросам, связанным со скриптом, можно и нужно обращаться ко мне лично:</h5>
        <ul>
            <li>по электронной почте <a href="mailto:support@szam5.com">support@szam5.com</a></li>
            <li>по скайпу <a href="skype:vbatushev?call">vbatushev</a></li>
            <li>по Telegram:&nbsp;<a href="//t.me/vbatushev">https://t.me/vbatushev</a></li>
        </ul>
        <p>В связи с тем, что я оказываю поддержку скрипта только зарегистрированным мною пользователям, не забудьте представиться, когда будете обращаться за оной поддержкой.</p>

        <p><a href="https://scripts.szam5.com" class="uk-button uk-button-primary">Мои бесплатные скрипты для Adobe InDesign</a></p>
      <div class="uk-modal-footer uk-text-right">
        <p><strong>Виталий Батушев</strong></p>
      </div>
  </div>
</div>