<div id="opinions" class="uk-container uk-text-center uk-margin-large-top uk-margin-bottom">
    <h1 class="uk-text-head uk-text-uppercase">Мнения</h1>
    <hr class="uk-align-center uk-width-1-6@m">
    <p>Мне важны и интересны ваши мнения о скрипте. Пишите ваши отзывы и я с удовольствием их опубликую здесь.</p>
</div>
<div class="uk-background-secondary">
    <div class="uk-container uk-position-relative uk-padding" uk-slideshow="max-height:340">
        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center"></ul>
        <div class="uk-slider-container">
            <ul class="uk-slideshow-items uk-grid uk-child-width">
            {{ range $.Site.Data.opinions.opinions }}
                <li class="uk-flex uk-flex-middle">
                    <div class="uk-card uk-card-small uk-light ">
                        <div class="uk-card-header uk-text-left uk-padding-remove uk-margin-top">{{ .Name }}:</div>
                        <div class="uk-card-body uk-padding-remove ">
                            <span uk-icon="chevron-double-left"></span>{{ .Opinion }}<span uk-icon="chevron-double-right"></span>
                        </div>
                    </div>
                </li>
            {{ end }}
            </ul>
        </div>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
</div>